.search_Input {
  display: block;
  box-sizing: border-box;
  width: 90%;
  max-width: 344px;
  height: 40px;
  margin: 12px auto;
  padding: 0 12px;
  border: 1px solid #979797a9;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: #b3b2b2;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.search_Input::placeholder {
  color: #b3b2b2;
  opacity: 1;
}

.search_Input:focus {
  border-color: #f10000;
}

@media screen and (min-width: 768px) {
  .search_Input {
    width: 344px;
    height: 64px;
    margin: 15px auto auto 0;
    border-radius: 12px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .search_Input {
    margin: 15px auto auto 0;
  }
}
